.login-app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  
  .image-container {
    height: 100vh;
    width: 100%;
    background: #2c73eb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-img {
    height: 400px;
  }
  
  .form-container {
    background: #ffffff;
    width: 100%;
  }
  
  .header {
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: auto;
  }
  
  .text {
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #8692a6;
  }
  
  .label-text {
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696f79;
  }
  
  .input-text {
    margin-top: 14px;
    margin-bottom: 24px;
    width: 100%;
    height: 64px;
    border: 1px solid #8692a6;
    border-radius: 6px;
    background: #ffffff;
  
    /*text*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #494949;
    padding-left: 30px;
    outline: none;
  }
  
  .error {
    border: 2px solid #b31c30;
  }
  
  .span-error {
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #b31c30;
    margin-bottom: 10px;
  }
  
  .label-checkbox {
    margin-left: 10px;
    margin-top: 29px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696f79;
  }
  
  .button-submit {
    margin-top: 29px;
    margin-bottom: 43px;
    background: #2c73eb;
    border-radius: 6px;
    border: none;
    width: 426px;
    height: 64px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  
  .span-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696f79;
  }
  
  .span-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2c73eb;
  }

  @media (min-width: 360px ) and (max-width: 820px) {

    .login-app{
     flex-direction: column;
    }

    .image-container{
        height: 50vh;
        width: 100%;
    }

    .login-img{
        height: 280px;
    }
     
    .form-container{
        width: 100%;
    }

    .header {
    margin-top: 10px;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
  }
  
  .text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .form-wrapper{
    width: 80%;
    margin-left: 20px;
  }

  .input-container{
    width: 90%;
  }
  
  .label-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }

  .input-text{
    height: 45px;

    /*text*/
    font-size: 14px;
    line-height: 14px;
  }

  .span-error{
    font-size: 12px;
    margin-bottom: 8px;
  }

  .label-checkbox{
    font-size: 14px;
    line-height: 14px;
  }
  
  .button-submit {
    margin-left: 30px;
    width: 330px;
    height: 54px;

    margin-bottom: 15px;
  }
  

}

