@import '../../tokens/index';

.login-app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $hundred-percent-vw;
    height: $hundred-percent-vh;
    text-align: center;
  }
  
  .image-container {
    height: $hundred-percent-vh;
    width: $hundred-percent-width;
    background: $warm-blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-img {
    height: 400px;
  }
  
  .form-container {
    background: $white;
    width: $hundred-percent-width;
    height : $hundred-percent-vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: $padding-10;
    padding-right: $padding-10;
  }
  
  .header {
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: $font-weight-700;
    font-size: 30px;
    line-height: 36px;
    color: $black-original;
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $hundred-percent-width;
    height: auto;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    width:90%;
    max-width: 700px;
    height: auto;
  }
  
  .text {
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $silver;
  }
  
  .label-text {
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: 16px;
    line-height: 19px;
    color: $dark-grayish-blue;
  }
  
  .input-text {
    margin-top: 14px;
    margin-bottom: $spacing-24;
    width: $hundred-percent-width;
    height: 64px;
    border: 1px solid $silver;
    border-radius: 6px;
    background: $white;
  
    /*text*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: 16px;
    line-height: 19px;
    color: $very-dark-gray;
    padding-left: 30px;
    outline: none;
  }
  
  .error {
    border: 2px solid $strong-red;
  }
  
  .span-error {
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: 16px;
    line-height: 19px;
    color: $strong-red;
    margin-bottom: 10px;
  }
  
  .label-checkbox {
    margin-left: 10px;
    margin-top: 29px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: 16px;
    line-height: 19px;
    color: $dark-grayish-blue;
  }
  
  .button-submit {
    margin-top: 29px;
    margin-bottom: 43px;
    background: $warm-blue;
    border-radius: 6px;
    border: none;
    width: 426px;
    height: 64px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: 16px;
    line-height: 19px;
    color: $white;
  }
  
  .span-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: 16px;
    line-height: 19px;
    color: $dark-grayish-blue;
  }
  
  .span-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: 16px;
    line-height: 19px;
    color: $warm-blue;
  }

  @media (min-width: 360px ) and (max-width: 820px) {

    .login-app{
     flex-direction: column;
    }

    .image-container{
        height: 50vh;
        width: $hundred-percent-width;
    }

    .login-img{
        height: 280px;
    }
     
    .form-container{
        width: $hundred-percent-width;
    }

    .header {
    margin-top: 10px;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
  }
  
  .text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .form-wrapper{
    width: $hundred-percent-width;
    display: flex;
    align-items: center;
    padding-bottom: 20px;

  }

  .input-container{
    width: 90%;
  }
  
  .label-text {
    font-weight: $font-weight-500;
    font-size: 14px;
    line-height: 14px;
  }

  .input-text{
    height: 45px;

    /*text*/
    font-size: 14px;
    line-height: 14px;
  }

  .span-error{
    font-size: 12px;
    margin-bottom: 8px;
  }

  .label-checkbox{
    font-size: 14px;
    line-height: 14px;
  }
  
  .button-submit {
    width: 330px;
    height: 54px;

    margin-bottom: 15px;
  }
  

}

