@import "../../../tokens/index";

@mixin transition($property) {
    transition: $property 0.2 ease-in-out;
  }
  
  .datagrid-container {
    display: flex;
    background: $white-2;
  
    .datagrid-container__grid {
      background: $white-2;
      padding: 24px;
    }
  }
  
  .sidebar-menu {
    background: $dark-blue;
    color: $gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  
    @include transition(width);
  
    &.expanded {
      width: 300px;
    }
  
    &.collapsed {
      width: 90px;
    }
  }
  
  .sidebar-line {
    border: 0.031rem solid $gray;
    margin-top: 30px;
    background: $gray;
  }
  
  .sidebar_menu-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 25px;
    margin-top: 24px;
    .sidebar_span {
      color: $white;
    }
    .sidebar_menu-button-icon {
      cursor: pointer;
      &.hover {
        color: $white;
      }
    }
  }
  
  @media (min-width: 360px) and (max-width: 430px) {
    .sidebar-menu{
      &.expanded {
        width: 200px;
      }
    
    }
  }
  
 
  
  
  
  