@import "../../../tokens/index";

@mixin transition($property) {
    transition: $property 0.2 ease-in-out;
  }
  
  .datagrid-container {
    display: flex;
    background: $flash-white;
  
    .datagrid-container__grid {
      background: $flash-white;
      padding: $padding-24;
    }
  }
  
  .sidebar-menu {
    background: $yankees-blue;
    color: $cool-gray;
    height: $hundred-percent-vh;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  
    @include transition(width);
  
    &.expanded {
      width: 300px;
    }
  
    &.collapsed {
      width: 90px;
    }
  }
  
  .sidebar-line {
    border: 0.031rem solid $cool-gray;
    margin-top: 30px;
    background: $cool-gray;
  }
  
  .sidebar_menu-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: $padding-24;
    margin-top: $spacing-24;
    .sidebar_span {
      color: $white;
    }
    .sidebar_menu-button-icon {
      cursor: pointer;
      &.hover {
        color: $white;
      }
    }
  }
  
  @media (min-width: 360px) and (max-width: 430px) {
    .sidebar-menu{
      &.expanded {
        width: 200px;
      }
    
    }
  }
  
 
  
  
  
  