.content__container {
  background: #f7f8fc;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .card__padding {
    padding-left: 56px;
    padding-top: 24px;

    .card__container {
      width: 70vw;
      height: 80vh;
      
      &.collapse {
        width: 85vw;
        height: 80vh;
       
      }
    }
  }
}

@media (min-width: 414px) and (max-width: 820px) {
  .content__container {
    .card__padding {
      padding-left: 24px;

      .card__container {
        width: 683px;

        &.collapse {
          width: 887px;
        }
      }
    }
  }
}
