@import '../../tokens/index';

.content__container {
  background:$ghost-white ;
  width: $hundred-percent-vw;
  height: $hundred-percent-vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .card__padding {
    padding-left: 56px;
    padding-top: $spacing-24;

    .card__container {
      width: 70vw;
      height: $eighty-percent-vh;

      &.collapse {
        width: 85vw;
        height: $eighty-percent-vh;
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 430px) {
  .content__container {
    .card__padding {
      padding-left: 16px;

      .card__container {
        width: 160px;

        &.collapse {
          width: 240px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .content__container {
    .card__padding {
      .card__container {
        width: 525px;
      }
    }
  }
}
