@import "../../../tokens/index";

.card-container {
  display: flex;
  margin-top: $spacing-10;
  border: 1px solid $platinum;
  border-radius: $border-radius-8;
  width: 258px;
  height: 134px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: $cetacean-blue;
    cursor: pointer;
  }

  .card-label {
    font-family: $primary-font;
    font-style: normal;
    font-weight: $font-weight-700;
    font-size: $font-size-18;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #9fa2b4;

    &:hover {
      color: $cetacean-blue;
    }
  }

  .card-value {
    font-family: $primary-font;
    font-style: normal;
    font-weight: $font-weight-700;
    font-size: $font-size-40;
    line-height: $line-height-50;
    text-align: center;
    letter-spacing: 1px;
    color: $charleston-blue;

    &:hover {
      color: $cetacean-blue;
    }
  }
}



@media (min-width: 360px) and (max-width: 430px) {
  .card-container {
    height: 70px;
    width: 140px;
    

    .card-label{
      font-size: 16px;
      line-height: 20px;
      padding-top: 20px;
    }
    .card-value{
      font-size: 16px;
      padding-bottom: 10px;
    }
  }

  
}

@media (min-width: 768px) and (max-width:820px) {
  
}