.listitem{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    width: fit-content;
    width: 100%;

    .title{
        max-width: 50%;
        min-width: 50px;
        flex-basis: 30%;
        padding-left: 5px;
        color:black;
        text-align: left;
        margin: 5px;
    }

    .items{
        text-align: right;
        max-width: 75%;
        min-width: 50px;
        flex-basis: 75%;
        color: gray;
        padding-right: 5px;
        display: flex;
        margin: 5px;

        .item{
            flex-basis: 100%;
            border-left: solid 1px lightgray;
            padding: 0 5px;
        }
    }

}