.list-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    .item-title{
        flex: 1;
        color:black;
        margin: 18px ;
        padding-left: 18px;
        text-align:left;
    }

    .item-extras{
        color: gray;
        flex: 1;
        text-align:right;
        margin: 18px ;
        padding-right: 18px;
    }

}