.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    .item-title{
        flex: 1;
        color:black;
    }

    .item-extras{
        color: gray;
        display: flex;
        flex: 1;
    }

}