/*_index.scss*/
$white:#fff;
$flash-white: #f2f2f2;
$platinum: #dfe0eb;
$ghost-white: #f7f8fc;
$black-original: black;
$cool-gray: #8d91a0;
$gray-original: gray;
$silver: #8692a6;
$dark-grayish-blue:#696f79;
$very-dark-gray:#494949;
$yankees-blue:#233043;
$cetacean-blue: #0f044c;
$charleston-blue: #252733;
$light-blue: #535bf2;
$warm-blue: #2c73eb;
$tomato-red: #F12B2C;
$strong-red: #b31c30;
$gold: #FEC400;
$seagreen:#29CC97;

$hundred-percent-width: 100%;
$hundred-percent-vw: 100vw;
$hundred-percent-vh: 100vh;
$eighty-percent-vh: 80vh;

$primary-font: 'Mulish';
$font-size-18: 18px;
$font-size-40:40px;
$font-weight-500: 500;
$font-weight-700: 700;
$line-height-50: 50px;

$spacing-10: 10px;
$spacing-18: 18px;
$spacing-24: 24px;
$line-height-25: 25px;
$padding-10: 10px;
$padding-24: 24px;
$border-radius-8: 8px;
$width-30: 30px;
$width-40:40px;
$height-30:30px;
$height-40:40px;


