/*_index.scss*/
$white:#fff;
$white-2: #f2f2f2;
$white-3: #dfe0eb;
$white-content: #f7f8fc;
$black-original: black;
$gray: #8d91a0;
$gray-original: gray;
$dark-blue:#233043;
$dark-blue-2: #0f044c;
$dark-blue-3: #252733;
$light-blue: #535bf2;

$hundred-percent-vw: 100vw;
$hundred-percent-vh: 100vh;
$eighty-percent-vh: 80vh;

$primary-font: 'Mulish';

$eighteen-pixels: 18px;

