.tip{
    min-width: 110px;
    width: auto;
    border-radius: 8px;
    padding: 2px 10px;
    color: white;
    text-transform: uppercase;
    font-size: small;
    margin: 5px;
}

.red{
    background-color:tomato;
}

.warn{
    background-color:gold;
}

.succ{
    background-color: seagreen;
}