.tip{
    min-width: 110px;
    width: auto;
    border-radius: 8px;
    padding: 2px 10px;
    color: white;
    text-transform: uppercase;
    font-size: small;
    margin: 5px;
    @at-root .error{
    background-color:tomato;
    border: none;
    }

    @at-root .warning{
        background-color:gold;
    }

    @at-root .success{
        background-color: seagreen;
    }

}
    
